<div class="bg-gray-900 text-gray-100 font-inter text-lg md:text-2xl p-6 md:p-12">
  <div class="max-w-4xl mx-auto">
    <h1 class="text-4xl font-quicksand cool-text md:text-6xl font-extrabold text-fuchsia-400 mb-4">
      Kotkowo 🐈🐈
    </h1>
    <h2>
      Website for cat adoption charity fundation <b>&bdquo;Kotkowo&rdquo;</b> based in Białystok
    </h2>

    <div class="md:-mt-6 md:mb-0 mb-4 flex flex-col md:flex-row gap-x-4 items-center gap-8 min-h-40">
      <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://kotkowo.ravensiris.xyz"
        class="rounded-lg min-w-40 p-4 bg-gray-800 flex flex-col justify-center items-center cool-shadow duration-500 transition hover:shadow-white text-2xl"
      >
        <span>Demo</span>
      </a>
      <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://github.com/kotkowo/kotkowo"
        class="rounded-lg min-w-40 p-4 bg-gray-800 flex flex-col justify-center items-center cool-shadow duration-500 transition hover:shadow-white text-2xl"
      >
        <span>Github</span>
      </a>
    </div>
    <p class="text-xl md:text-2xl mb-12 leading-relaxed text-gray-300">
      Kotkowo combines the best of three worlds: a comfortable WebSocket-based front end written in <b>Elixir</b>, an efficient client developed in <b>Rust</b>, and an easy-to-use Strapi back end written in <b>JavaScript</b>.
    </p>
    <div class="space-y-12">
      <section id="tech-used">
        <h3 class="text-2xl font-semibold mb-4 text-fuchsia-300">Tech used 🤖</h3>
        <ul class="text-gray-300 leading-relaxed">
          <li>
            <a
              class="cursor-pointer hover:text-fuchsia-200 transition font-bold text-blue-400"
              rel="noopener noreferrer"
              target="_blank"
              href="https://github.com/kotkowo/kotkowo-client"
            >
              kotkowo-client
            </a>GraphQL client for kotkowo written fully in Rust 🦀
          </li>
          <li>
            <a
              class="cursor-pointer hover:text-fuchsia-200 transition font-bold text-blue-400"
              rel="noopener noreferrer"
              target="_blank"
              href="https://github.com/phoenixframework/phoenix_live_view"
            >
              Phoenix LiveView
            </a>Rich, real-time user experiences with server-rendered HTML 🐦
          </li>
          <li>
            <a
              class="cursor-pointer hover:text-fuchsia-200 transition font-bold text-blue-400"
              rel="noopener noreferrer"
              target="_blank"
              href="https://github.com/strapi/strapi"
            >
              Strapi
            </a>headless CMS ✨
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
